{% extends 'layouts/main.html' %}
{% block title %}New Show Listing{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form method="post" class="form">
      {{ form.csrf_token }}
      <h3 class="form-heading">List a new show</h3>
      <div class="form-group {% if 'artist' in form.errors %} has-error {% endif %}">
        <label for="artist">Artist</label>
        {{ form.artist(class_ = 'form-control', autofocus = true) }}
        {% for error in form.errors['artist'] %}
          <span class="help-block">Error! {{error}}</span>
        {% endfor %}
      </div>
      <div class="form-group {% if 'venue' in form.errors %} has-error {% endif %}">
        <label for="venue">Venue</label>
        {{ form.venue(class_ = 'form-control', autofocus = true) }}
        {% for error in form.errors['venue'] %}
          <span class="help-block">Error! {{error}}</span>
        {% endfor %}
      </div>
      <div class="form-group {% if 'show_date' in form.errors %} has-error {% endif %}">
          <label for="show_date">Start Time</label>
          {{ form.show_date(class_ = 'form-control', placeholder='YYYY-MM-DD HH:MM', autofocus = true) }}
          {% for error in form.errors['show_date'] %}
            <span class="help-block">Error! {{error}}</span>
          {% endfor %}
        </div>
      <input type="submit" value="Create Show" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}
